.todo-item-container {
  background: #fff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px grey;
}

.buttons-container {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.completed-button {
  display: inline-block;
  background-color: #22ee22;
}

.remove-button {
  display: inline-block;
  background-color: #ee2222;
  margin-left: 8px;
}
